* {
    text-shadow: 1px 1px 0px var(--white), -1px -1px 0px var(--white), 1px -1px 0px var(--white), -1px 1px 0px var(--white);
    text-transform: capitalize;
}
    

body {
    padding: 5vh 2vw 4vh 2vw;
    background-color: var(--body);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3vh;
}

body div {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0px 5px var(--boxshadow);
    background-color: var(--div);
    animation: linear boxshadow;
    animation-timeline: view();
}

@keyframes boxshadow {
    44% {
        box-shadow: 0px 5px 20px var(--boxshadow);
    }
    60% {
        box-shadow: 0px -5px 20px var(--boxshadow);
    }
}
nav {
    position: sticky;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
    justify-content: space-between;
    background-color: var(--nav);
    top: 0;
    left: 0;
    padding: 1.3vh 2.3vw 1.3vh 2.3vw;
    margin: 0 0 20px 0;
    box-shadow: 0 5px 20px black;
    align-content: center;
    height: 2em;
    font-size: x-large;
    box-shadow: 0 0px 5vh var(--boxshadow);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:first-child {
    text-align: left;
}

td {
    padding: 8px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:last-child {
    border-bottom: none;
}

.circle {
    border-radius: 100%;
}
#displayof_login {
    background-image: radial-gradient(circle, #000 3%, #0000 100%),
        repeating-conic-gradient(#0f0 0deg 10deg, #00f 10deg 20deg);
    position: fixed;
    z-index: 1000;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: 0 0;
    top: 0;
    left: 0;
}

#displayof_login div {
    display: flex;
    height: fit-content;
    align-self: center;
    margin-bottom: 0;
    align-content: center;
    height: 4em;
    /* border: ; */
    /* --black: ; */
    border-radius: 6em;
    background-color: var(--graphcolor);
}

h2 {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent, violet, transparent) 1;
    letter-spacing: 0.1em;
}

svg {
    max-width: 100%;
    height: auto;
}
#displayof_login div form input {
  width: 8em;
  border-radius: 4em;
  text-align: center;
  color: var(--black);
  text-shadow: none;
  background: var(--div);
  border: solid 1ex var(--body);
  font-size: larger;
}

#displayof_login div form input:focus-visible{
    border: none;
}
:root {
    --black: #000;
    --white: #fff;
    --boxshadow: #000000c7;

    --nav: #fbf5dd;
    --div: #a6cdc6;
    --body: #16404d;
    --graphcolor: #4e71ff58;
    color: var(--black);

    font-family: "Franklin Gothic Heavy";
}
@media (prefers-color-scheme: dark) {
    :root {
        --boxshadow: #ffffffc7;
        --black: #fff;
        --white: #000;
        --nav: #35374b;
        --div: #344955;
        --body: #50727b;
        --graphcolor: #78a08358;
    }
}
button {
    cursor: pointer;
}
